
.img1 {
    /* Styles for img1 */
    height: 650px;
    width: 400px;
    background-repeat: no-repeat;

}

.img2 {
    /* Styles for img1 */
    height: 650px;
    width: 400px;
    background-repeat: no-repeat;
}